openapi: 3.0.3
info:
  title: Scouting.org API
  description: |-
    This describes how to interact with the Boy Scouts of America API.

    Documentation is available [here](https://github.com/mmarseglia/scouting-api).
  termsOfService: https://github.com/mmarseglia/scouting-api
  contact:
    email: mike@marseglia.org
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Find out more about this project
  url: https://github.com/mmarseglia/scouting-api
servers:
  - url: https://api.scouting.org
tags:
  - name: advancements
    description: Everything about Advancement
    externalDocs:
      description: Find out more
      url: https://github.com/mmarseglia/scouting-api
  - name: persons
    description: Access to Scout records
    externalDocs:
      description: Find out more about registered Scouts
      url: https://github.com/mmarseglia/scouting-api
  - name: commissioners
    description: Commissioner tools and unit health
  - name: organizations
    description: Organization and unit management
  - name: registrations
    description: Registration and recharter
  - name: lookups
    description: Lookup data and reference tables
  - name: events
    description: Events and communications
paths:
  /advancements/ranks:
    get:
      tags:
        - advancements
      summary: Get a list of all ranks and awards
      description: Returns JSON list of all ranks and awards
      operationId: getRanks
      security: []
      parameters:
        - $ref: '#/components/parameters/version'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/programId'
        - $ref: '#/components/parameters/status'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ranks'
        '400':
          description: Bad Request
          content:
            application/json; charset=UTF-8:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  errorDesc:
                    type: string
                required:
                  - errorCode
                  - message
                  - errorDesc
  /lookups/address/countries:
    get:
      summary: Get a list of all countries
      description: Returns JSON list of all countries
      operationId: getCountries
      security: []
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=UTF-8; indent="false":
              schema:
                $ref: "#/components/schemas/GetLookupsAddressCountries200ResponseBody"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/youth/{userId}:
    parameters:
      - in: path
        name: userId
        required: true
        schema:
          type: string
    get:
      summary: Get youth advancement record
      description: Returns advancement record for a specific youth member
      operationId: getYouthAdvancements
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/YouthAdvancementResponse"
        "401":
          description: Unauthorized - missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Youth member not found
          content:
            application/json; charset=UTF-8:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  errorDesc:
                    type: string
                required:
                  - errorCode
                  - message
                  - errorDesc
        "405":
          description: 405 response
          content:
            application/json; charset=UTF-8:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  errorDesc:
                    type: string
                required:
                  - errorCode
                  - message
                  - errorDesc
  /advancements/youth/{userId}/leadershipPositionHistory:
    parameters:
      - in: path
        name: userId
        required: true
        schema:
          type: string
    get:
      summary: Get youth leadership position history
      description: Returns leadership positions held by a specific youth member
      operationId: getYouthLeadershipHistory
      security:
        - BearerAuth: []
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=UTF-8; indent="false":
              schema:
                $ref: "#/components/schemas/GetAdvancementsYouthUseridLeadershippositionhistory200ResponseBody"
        "401":
          description: Unauthorized - missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Youth member not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/ranks/{rank}/requirements:
    parameters:
      - in: path
        name: rank
        required: true
        schema:
          type: string
    get:
      summary: Get requirements for a specific rank
      description: Returns detailed requirements for earning a specific rank
      operationId: getRankRequirements
      security: []
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: "#/components/schemas/GetAdvancementsRanksRankRequirements200ResponseBody"
        "404":
          description: Rank not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/awards:
    get:
      tags:
        - advancements
      summary: Get a list of all awards
      description: Returns JSON list of all awards including council awards, religious awards, and special recognitions
      operationId: getAwards
      security: []
      parameters:
        - name: status
          in: query
          description: Filter by status (active, expired)
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AwardsResponse"
        "400":
          description: Bad request - invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/adventures:
    get:
      tags:
        - advancements
      summary: Get a list of all Cub Scout adventures
      description: Returns JSON list of all Cub Scout adventures for Tiger, Wolf, Bear, and Webelos ranks
      operationId: getAdventures
      security: []
      parameters:
        - name: status
          in: query
          description: Filter by status (active, expired)
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdventuresResponse"
        "400":
          description: Bad request - invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/meritBadges:
    get:
      tags:
        - advancements
      summary: Get all merit badges
      description: Returns a list of all merit badges with their requirements
      operationId: getMeritBadges
      security: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MeritBadge"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/meritBadges/counselors/{memberId}/profile:
    parameters:
      - name: memberId
        in: path
        required: true
        description: Member ID of the counselor
        schema:
          type: string
    get:
      tags:
        - advancements
      summary: Get merit badge counselor profile
      description: Returns merit badge counselor certifications and status
      operationId: getMeritBadgeCounselorProfile
      security:
        - BearerAuth: []
      parameters:
        - name: include
          in: query
          description: Include additional data (e.g., expired certifications)
          schema:
            type: string
            enum:
              - expired
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeritBadgeCounselorProfile"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Counselor not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /lookups/address/states:
    get:
      summary: Get a list of states/provinces
      description: Returns JSON list of states or provinces, optionally filtered by country
      operationId: getStates
      security: []
      parameters:
        - name: countryId
          in: query
          description: Filter states by country ID (1 for USA)
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatesResponse"
        "400":
          description: Bad request - invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  # ============================================
  # Events Endpoints
  # ============================================
  /events/communications/organizations:
    get:
      tags:
        - events
      summary: Get announcements and calendar events
      description: Returns announcements and calendar events for an organization
      operationId: getEventsCommunications
      security:
        - BearerAuth: []
      parameters:
        - name: organizationGuid
          in: query
          required: true
          description: Organization GUID to fetch events for
          schema:
            type: string
            format: uuid
        - name: communicationType
          in: query
          description: Type of communication (Announcement, CalendarEvent)
          schema:
            type: string
            enum:
              - Announcement
              - CalendarEvent
        - name: status
          in: query
          description: Event status filter
          schema:
            type: string
            enum:
              - active
              - deleted
        - name: everyChildOrganization
          in: query
          description: Include child organizations
          schema:
            type: boolean
        - name: fromDate
          in: query
          description: Start date filter (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: toDate
          in: query
          description: End date filter (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: perPage
          in: query
          description: Items per page
          schema:
            type: integer
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventsCommunicationsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  # ============================================
  # Commissioner Endpoints
  # ============================================
  /commissioners/v2/organizations/{organizationGuid}/roundtable:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - commissioners
      summary: Get roundtable information for an organization
      operationId: getOrganizationRoundtable
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoundtableResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /commissioners/v2/organizations/{organizationGuid}/units/assignedCommissioners:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - commissioners
      summary: Get commissioners assigned to units in an organization
      operationId: getAssignedCommissioners
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignedCommissionersResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /commissioners/v2/organizations/{organizationGuid}/unitsHealth/details:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - commissioners
      summary: Get unit health details for an organization
      operationId: getUnitsHealthDetails
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitsHealthDetailsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /commissioners/v2/organizations/{organizationGuid}/unitsHealth/manualEntry:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - commissioners
      summary: Get manual entry health metrics for units
      operationId: getUnitsHealthManualEntry
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitsHealthManualEntryResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  # ============================================
  # Organization Endpoints
  # ============================================
  /organizations/{organizationGuid}/membershipSummary:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get membership summary for an organization
      operationId: getMembershipSummary
      security:
        - BearerAuth: []
      parameters:
        - name: includeIH
          in: query
          description: Include inactive/historical members
          schema:
            type: boolean
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipSummaryResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/{organizationGuid}/olrSettings:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get online registration settings for an organization
      operationId: getOlrSettings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OlrSettingsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/{organizationGuid}/adjustedOLRSettings:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get adjusted online registration settings
      operationId: getAdjustedOlrSettings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OlrSettingsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/{organizationGuid}/orgTrainingSummary:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get training summary for an organization
      operationId: getOrgTrainingSummary
      security:
        - BearerAuth: []
      parameters:
        - name: includeIH
          in: query
          description: Include inactive/historical
          schema:
            type: boolean
        - name: isStaff
          in: query
          description: Filter for staff members
          schema:
            type: boolean
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrainingSummaryResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/{organizationGuid}/pin:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get PIN information for an organization
      operationId: getOrganizationPin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PinResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/positions/{organizationGuid}:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get positions for an organization
      operationId: getOrganizationPositions
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationPositionsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/{organizationGuid}/orgAdults:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    post:
      tags:
        - organizations
      summary: Get adult members of an organization
      operationId: getOrgAdults
      security:
        - BearerAuth: []
      requestBody:
        description: Filter criteria for adults
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgMembersFilterRequest"
            example:
              filterData:
                firstName: ""
                lastName: ""
                position: ""
                positionStatus: "active"
                registered: "all"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgMembersResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/{organizationGuid}/orgYouths:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    post:
      tags:
        - organizations
      summary: Get youth members of an organization
      operationId: getOrgYouths
      security:
        - BearerAuth: []
      requestBody:
        description: Filter criteria for youths
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgMembersFilterRequest"
            example:
              filterData:
                firstName: ""
                lastName: ""
                position: ""
                positionStatus: "active"
                registered: "all"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgMembersResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/{organizationGuid}/key3:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get Key 3 leaders for an organization
      operationId: getKey3
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Key3Response"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/{organizationGuid}/orders:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get orders for an organization
      operationId: getOrganizationOrders
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: perPage
          in: query
          description: Items per page
          schema:
            type: integer
        - name: orderTypeId
          in: query
          description: Filter by order type
          schema:
            type: integer
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/{organizationGuid}/renewalDashboard:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get renewal dashboard data
      operationId: getRenewalDashboard
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenewalDashboardResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/{organizationGuid}/unitActivitiesDashboard:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get unit activities dashboard
      operationId: getUnitActivitiesDashboard
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitActivitiesDashboardResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/{organizationGuid}/unitAdvancementDashboard:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get unit advancement dashboard
      operationId: getUnitAdvancementDashboard
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitAdvancementDashboardResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/{organizationGuid}/unitRenewalStatusDashboard:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get unit renewal status dashboard
      operationId: getUnitRenewalStatusDashboard
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitRenewalStatusDashboardResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/{organizationGuid}/unitRoundtableAttendance:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get unit roundtable attendance
      operationId: getUnitRoundtableAttendance
      security:
        - BearerAuth: []
      parameters:
        - name: year
          in: query
          description: Year to filter by
          schema:
            type: integer
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoundtableAttendanceResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/{organizationGuid}/youthMembershipDashboard:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get youth membership dashboard
      operationId: getYouthMembershipDashboard
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/YouthMembershipDashboardResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/payment/{organizationGuid}/stripe/token:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get Stripe payment token for organization
      operationId: getStripeToken
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeTokenResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  # ============================================
  # Registration Endpoints
  # ============================================
  /registrations/unitType/{unitType}/basicRequirements:
    parameters:
      - name: unitType
        in: path
        required: true
        description: Unit type (Pack, Troop, Crew, etc.)
        schema:
          type: string
    get:
      tags:
        - registrations
      summary: Get basic requirements for a unit type
      operationId: getUnitTypeBasicRequirements
      security: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitTypeRequirementsResponse"
        "404":
          description: Unit type not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /registrations/v2/{organizationGuid}/validateForRecharter:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    post:
      tags:
        - registrations
      summary: Validate unit readiness for annual charter renewal
      description: |
        Checks if a unit meets all requirements for recharter (annual charter renewal).
        Returns validation errors for issues like:
        - Missing required leadership positions
        - Leaders without current Youth Protection Training (YPT)
        - Leaders under 18 years old
        - Insufficient youth membership
      operationId: validateForRecharter
      security:
        - BearerAuth: []
      requestBody:
        description: Recharter validation parameters
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecharterValidationRequest"
            example:
              isCouncilPaid: false
              unitType: "pack"
              minimum2Youth: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecharterValidationResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /registrations/v2/orders/{orderId}/bsaPayments:
    parameters:
      - name: orderId
        in: path
        required: true
        description: Order ID
        schema:
          type: integer
    get:
      tags:
        - registrations
      summary: Get BSA payments for an order
      operationId: getOrderBsaPayments
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BsaPaymentsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  # ============================================
  # Additional Lookup Endpoints
  # ============================================
  /lookups/organizations/units/specialInterestTypes:
    get:
      tags:
        - lookups
      summary: Get special interest unit types
      operationId: getSpecialInterestTypes
      security: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpecialInterestTypesResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /lookups/person/genders:
    get:
      tags:
        - lookups
      summary: Get gender options
      description: Returns list of available gender options for registration
      operationId: getGenders
      security: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LookupItem"
  /lookups/person/nameSuffixes:
    get:
      tags:
        - lookups
      summary: Get name suffix options
      description: Returns list of available name suffixes (Jr, Sr, III, etc.)
      operationId: getNameSuffixes
      security: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LookupItem"
  /lookups/person/titlePrefixes:
    get:
      tags:
        - lookups
      summary: Get title prefix options
      description: Returns list of available title prefixes (Mr, Mrs, Dr, etc.)
      operationId: getTitlePrefixes
      security: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LookupItem"
  /lookups/organizations/types:
    get:
      tags:
        - lookups
      summary: Get organization types
      description: Returns list of organization types (Pack, Troop, Crew, etc.)
      operationId: getOrganizationTypes
      security: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrganizationType"
  /lookups/registrations/applicantQuestions:
    get:
      tags:
        - lookups
      summary: Get registration applicant questions
      description: Returns questions asked during membership application
      operationId: getApplicantQuestions
      security: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ApplicantQuestion"
  # ============================================
  # Person Endpoints
  # ============================================
  /persons/{personGuid}/profile:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    get:
      tags:
        - persons
      summary: Get person profile
      description: Returns detailed profile information for a person
      operationId: getPersonProfile
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonProfile"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Person not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/{personGuid}/roleTypes:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    get:
      tags:
        - persons
      summary: Get person role types
      description: Returns the role types held by a person
      operationId: getPersonRoleTypes
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RoleType"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/{personGuid}/renewalRelationships:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    get:
      tags:
        - persons
      summary: Get person renewal relationships
      description: Returns renewal relationships for the person (family members, dependents)
      operationId: getPersonRenewalRelationships
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenewalRelationshipsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/{personGuid}/positions:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    get:
      tags:
        - persons
      summary: Get person positions
      description: Returns all positions held by a person across organizations
      operationId: getPersonPositions
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Position"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/{personGuid}/applications:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    get:
      tags:
        - persons
      summary: Get person applications
      description: Returns membership applications for a person
      operationId: getPersonApplications
      security:
        - BearerAuth: []
      parameters:
        - name: fromSubmittedDate
          in: query
          description: Filter by start date
          schema:
            type: string
            format: date
        - name: toSubmittedDate
          in: query
          description: Filter by end date
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Application"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/{personGuid}/memberships:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    post:
      tags:
        - persons
      summary: Get or manage person memberships
      description: Returns or manages membership information for a person
      operationId: postPersonMemberships
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/{personGuid}/trainings:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    post:
      tags:
        - persons
      summary: Get person trainings
      description: Returns training records for a person
      operationId: postPersonTrainings
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrainingsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/v2/{personGuid}/toolkits:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    get:
      tags:
        - persons
      summary: Get user's organizations and toolkits
      description: Returns list of organizations the user is a member of, used to populate organization dropdown
      operationId: getPersonToolkits
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ToolkitsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/v2/{personGuid}/trainings/ypt:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    get:
      tags:
        - persons
      summary: Get user's YPT training status
      description: Returns Youth Protection Training status and dates for the user
      operationId: getPersonYptStatus
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/YptTrainingResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/v2/{personGuid}/{organizationGuid}/tools:
    parameters:
      - $ref: "#/components/parameters/personGuid"
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - persons
      summary: Get tools available for user in an organization
      description: Returns list of tools/features available to the user for a specific organization based on their roles
      operationId: getPersonOrgTools
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonOrgToolsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/v2/{personGuid}/renewals:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    get:
      tags:
        - persons
      summary: Get person renewals
      description: Returns renewal information for the person's memberships
      operationId: getPersonRenewals
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenewalsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/v2/{personGuid}/membershipRegistrations:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    post:
      tags:
        - persons
      summary: Get or create membership registrations
      description: Returns or manages membership registration data
      operationId: postPersonMembershipRegistrations
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipRegistrationsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/v2/{personGuid}/trainings/positionTrainingRequirements:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    post:
      tags:
        - persons
      summary: Get position training requirements
      description: Returns training requirements for the person's positions
      operationId: postPersonPositionTrainingRequirements
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PositionTrainingRequirementsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/v2/payment/{personGuid}/stripe/token:
    parameters:
      - $ref: "#/components/parameters/personGuid"
    get:
      tags:
        - persons
      summary: Get Stripe payment token
      description: Returns Stripe payment token for the person
      operationId: getPersonStripeToken
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeTokenResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  # ============================================
  # Organizations Endpoints - Additional
  # ============================================
  /organizations/v2/{organizationGuid}/profile:
    parameters:
      - $ref: "#/components/parameters/organizationGuid"
    get:
      tags:
        - organizations
      summary: Get organization profile
      description: Returns profile information for an organization
      operationId: getOrganizationProfile
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationProfile"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/councils:
    get:
      tags:
        - organizations
      summary: Get all councils
      description: Returns list of all BSA councils
      operationId: getCouncils
      security: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Council"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  # ============================================
  # Advancement Approval Endpoints
  # ============================================
  /advancements/setToLeaderApproved:
    post:
      tags:
        - advancements
      summary: Leader approve advancements
      description: Allows a leader to approve advancements (requirements, ranks, merit badges, etc.) for youth members
      operationId: setToLeaderApproved
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeaderApprovalRequest"
      responses:
        "200":
          description: Advancements approved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderApprovalResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden - insufficient permissions to approve
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/unapprove:
    post:
      tags:
        - advancements
      summary: Unapprove/revert advancements
      description: Reverts previously approved advancements back to incomplete status
      operationId: unapproveAdvancement
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/UnapproveAdvancementRequest"
      responses:
        "200":
          description: Advancement unapproved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/ssElectives:
    get:
      tags:
        - advancements
      summary: Get Shooting Sports electives
      description: Returns list of Shooting Sports elective advancements
      operationId: getShootingSportsElectives
      security: []
      parameters:
        - name: status
          in: query
          description: Filter by status (active, expired)
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ShootingSportsElective"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/v2/ranks/{rankId}:
    parameters:
      - name: rankId
        in: path
        required: true
        description: Rank ID
        schema:
          type: integer
    get:
      tags:
        - advancements
      summary: Get rank details by ID
      description: Returns detailed information about a specific rank
      operationId: getRankById
      security: []
      parameters:
        - name: versionId
          in: query
          description: Specific version of the rank requirements
          schema:
            type: integer
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RankDetail"
        "404":
          description: Rank not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/v2/ranks/{rankId}/requirements:
    parameters:
      - name: rankId
        in: path
        required: true
        description: Rank ID
        schema:
          type: integer
    get:
      tags:
        - advancements
      summary: Get rank requirements (v2)
      description: Returns requirements for a specific rank with version support
      operationId: getRankRequirementsV2
      security: []
      parameters:
        - name: versionId
          in: query
          description: Specific version of the requirements
          schema:
            type: integer
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RankRequirementsV2"
        "404":
          description: Rank not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/v2/youth/{youthId}/ranks:
    parameters:
      - name: youthId
        in: path
        required: true
        description: Youth member ID
        schema:
          type: integer
    get:
      tags:
        - advancements
      summary: Get youth's rank progress
      description: Returns all rank progress for a specific youth member
      operationId: getYouthRanks
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/YouthRanksResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Youth not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/v2/youth/{youthId}/ranks/{rankId}/requirements:
    parameters:
      - name: youthId
        in: path
        required: true
        description: Youth member ID
        schema:
          type: integer
      - name: rankId
        in: path
        required: true
        description: Rank ID
        schema:
          type: integer
    get:
      tags:
        - advancements
      summary: Get youth's rank requirement progress
      description: Returns requirement completion status for a specific rank and youth
      operationId: getYouthRankRequirements
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/YouthRankRequirementsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Youth or rank not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/v2/youth/{youthId}/meritBadges:
    parameters:
      - name: youthId
        in: path
        required: true
        description: Youth member ID
        schema:
          type: integer
    get:
      tags:
        - advancements
      summary: Get youth's merit badge progress
      description: Returns all merit badge progress for a specific youth member
      operationId: getYouthMeritBadges
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/YouthMeritBadgesResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Youth not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/v2/youth/{youthId}/awards:
    parameters:
      - name: youthId
        in: path
        required: true
        description: Youth member ID
        schema:
          type: integer
    get:
      tags:
        - advancements
      summary: Get youth's awards
      description: Returns all awards earned by a specific youth member
      operationId: getYouthAwards
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/YouthAwardsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Youth not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/v2/users/{userId}/comments:
    parameters:
      - name: userId
        in: path
        required: true
        description: User ID
        schema:
          type: integer
    post:
      tags:
        - advancements
      summary: Get or add advancement comments
      description: Retrieves or adds comments for a user's advancement
      operationId: getAdvancementComments
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvancementCommentsRequest"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvancementCommentsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/v2/activities/approve:
    post:
      tags:
        - advancements
      summary: Approve activity participation
      description: Approves a youth's participation in an activity
      operationId: approveActivity
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivityApprovalRequest"
      responses:
        "200":
          description: Activity approved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/v2/activities/decline:
    post:
      tags:
        - advancements
      summary: Decline activity participation
      description: Declines a youth's participation in an activity
      operationId: declineActivity
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivityApprovalRequest"
      responses:
        "200":
          description: Activity declined successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/youth/ranks:
    post:
      tags:
        - advancements
      summary: Record youth rank advancement
      description: Records rank advancement for youth members
      operationId: recordYouthRank
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordAdvancementRequest"
      responses:
        "200":
          description: Rank recorded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordAdvancementResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/youth/meritBadges:
    post:
      tags:
        - advancements
      summary: Record youth merit badge
      description: Records merit badge advancement for youth members
      operationId: recordYouthMeritBadge
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordAdvancementRequest"
      responses:
        "200":
          description: Merit badge recorded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordAdvancementResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/youth/awards:
    post:
      tags:
        - advancements
      summary: Record youth award
      description: Records award for youth members
      operationId: recordYouthAward
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordAdvancementRequest"
      responses:
        "200":
          description: Award recorded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordAdvancementResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /advancements/youth/adventures:
    post:
      tags:
        - advancements
      summary: Record youth adventure
      description: Records Cub Scout adventure completion for youth members
      operationId: recordYouthAdventure
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordAdvancementRequest"
      responses:
        "200":
          description: Adventure recorded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordAdvancementResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  # ============================================
  # Additional Organization Endpoints
  # ============================================
  /organizations/v2/{organizationGuid}/advancementDashboard:
    parameters:
      - name: organizationGuid
        in: path
        required: true
        description: Organization GUID
        schema:
          type: string
          format: uuid
    get:
      tags:
        - organizations
      summary: Get unit advancement dashboard
      description: Returns advancement dashboard data for a unit
      operationId: getAdvancementDashboard
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvancementDashboard"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/units/{organizationGuid}/adults:
    parameters:
      - name: organizationGuid
        in: path
        required: true
        description: Organization GUID
        schema:
          type: string
          format: uuid
    get:
      tags:
        - organizations
      summary: Get unit adults
      description: Returns list of adult leaders in a unit
      operationId: getUnitAdults
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnitMember"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/units/{organizationGuid}/youths:
    parameters:
      - name: organizationGuid
        in: path
        required: true
        description: Organization GUID
        schema:
          type: string
          format: uuid
    get:
      tags:
        - organizations
      summary: Get unit youth members
      description: Returns list of youth members in a unit
      operationId: getUnitYouths
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnitMember"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/units/{organizationGuid}/parents:
    parameters:
      - name: organizationGuid
        in: path
        required: true
        description: Organization GUID
        schema:
          type: string
          format: uuid
    get:
      tags:
        - organizations
      summary: Get unit parents
      description: Returns list of parents associated with a unit
      operationId: getUnitParents
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnitMember"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/v2/units/{organizationGuid}/subUnits:
    parameters:
      - name: organizationGuid
        in: path
        required: true
        description: Organization GUID
        schema:
          type: string
          format: uuid
    get:
      tags:
        - organizations
      summary: Get unit sub-units
      description: Returns list of sub-units (patrols, dens) within a unit
      operationId: getUnitSubUnits
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubUnit"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  # ============================================
  # Additional Persons Endpoints
  # ============================================
  /persons/{personId}/myScout:
    parameters:
      - name: personId
        in: path
        required: true
        description: Person ID (numeric)
        schema:
          type: integer
    get:
      tags:
        - persons
      summary: Get linked scouts
      description: Returns scouts linked to this person (for parents)
      operationId: getMyScout
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MyScoutResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Person not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/{personGuid}/subscriptions:
    parameters:
      - name: personGuid
        in: path
        required: true
        description: Person GUID
        schema:
          type: string
          format: uuid
    get:
      tags:
        - persons
      summary: Get person subscriptions
      description: Returns subscription preferences for a person
      operationId: getPersonSubscriptions
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Person not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /persons/v2/{personIdentifier}/personprofile:
    parameters:
      - name: personIdentifier
        in: path
        required: true
        description: Person identifier (GUID or numeric ID)
        schema:
          type: string
    get:
      tags:
        - persons
      summary: Get person profile (v2)
      description: Returns detailed person profile information
      operationId: getPersonProfileV2
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonProfileV2"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Person not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  schemas:
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error message
        errorDesc:
          type: string
          description: Detailed error description
      required:
        - errorCode
        - message
        - errorDesc
    YouthAdvancementResponse:
      type: object
      description: Youth advancement record
      properties:
        userId:
          type: string
        ranks:
          type: array
          items:
            type: object
            properties:
              rankId:
                type: integer
              name:
                type: string
              dateEarned:
                type: string
              version:
                type: string
        meritBadges:
          type: array
          items:
            type: object
            properties:
              meritBadgeId:
                type: integer
              name:
                type: string
              dateEarned:
                type: string
        awards:
          type: array
          items:
            type: object
            properties:
              awardId:
                type: integer
              name:
                type: string
              dateEarned:
                type: string
    Ranks:
      type: object
      properties:
        active:
          type: string
          example: "True"
        adminNotes:
          type: string
          example: "Effective 1/4/2016"
        disabledOnQuickEntry:
          type: string
          example: "False"
        expiredDate:
          type: string
          example: ""
        footer:
          type: string
          example: "<strong>NOTES:</strong> The requirements for Scout, Tenderfoot, Second
            Class, and First Class ranks may be worked on simultaneously;
            however, these ranks must be earned in sequence.<br><br/>

            Alternative requirements for the Scout rank are
            available for Scouts with physical or mental disabilities if they
            meet the criteria listed in the Scouts BSA Requirements book.

            <br><br>

            <sup>1</sup> If your family does not have Internet
            access at home AND you do not have ready Internet access at school
            or another public place or via a mobile device, the Cyber Chip

            portion of this requirement may be waived by your
            Scoutmaster in consultation with your parent or guardian."
        header:
          type: string
          example: "All requirements for the Scout rank must be completed as a member of a
            troop or as a Lone Scout. If you have already completed these
            requirements as part of the Webelos Scouting Adventure, simply
            demonstrate your knowledge or skills to your Scoutmaster or other
            designated leader after joining the troop."
        id:
          type: string
          example: "1"
        image:
          type: string
          example: "scout.png"
        imageUrl100:
          type: string
          example: "https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/scout100.png"
        imageUrl200:
          type: string
          example: "https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/scout200.png"
        imageUrl400:
          type: string
          example: "https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/scout400.png"
        imageUrl50:
          type: string
          example: "https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/scout50.png"
        lds:
          type: string
          example: "True"
        level:
          type: string
          example: "1"
        name:
          type: string
          example: "Scout"
        price:
          type: string
          example: "2.99"
        priceLastUpdated:
          type: string
          format: date
          example: "2023-09-14"
        program:
          type: string
          example: "Scouts BSA"
        programId:
          type: string
          example: "2"
        proofReadDate:
          type: string
          example: ""
        reallyShort:
          type: string
          example: "Scout"
        scoutNet:
          type: string
          example: "RN"
        searchKeywords:
          type: string
          example: "Boy Scout Scouting Scout Rank Award Requirements"
        short:
          type: string
          example: "Scout"
        sku:
          type: string
          example: "657432"
        version:
          type: string
          example: "2016"
        versionId:
          type: string
          example: "38"
        ranks:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              short:
                type: string
              reallyShort:
                type: string
              level:
                type: string
              image:
                type: string
              programId:
                type: string
              program:
                type: string
              searchKeywords:
                type: string
              lds:
                type: string
              sku:
                type: string
              price:
                type: string
              priceLastUpdated:
                type: string
              scoutNet:
                type: string
              versionId:
                type: string
              version:
                type: string
              header:
                type: string
              footer:
                type: string
              adminNotes:
                type: string
              proofReadDate:
                type: string
              active:
                type: string
              expiredDate:
                type: string
              disabledOnQuickEntry:
                type: string
              imageUrl50:
                type: string
              imageUrl100:
                type: string
              imageUrl200:
                type: string
              imageUrl400:
                type: string
            required:
              - id
              - name
              - short
              - reallyShort
              - level
              - image
              - programId
              - program
              - searchKeywords
              - lds
              - sku
              - price
              - priceLastUpdated
              - scoutNet
              - versionId
              - version
              - header
              - footer
              - adminNotes
              - proofReadDate
              - active
              - expiredDate
              - disabledOnQuickEntry
              - imageUrl50
              - imageUrl100
              - imageUrl200
              - imageUrl400
      required:
        - ranks
    GetLookupsAddressCountries200ResponseBody:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
          short:
            type: string
          id:
            type: string
        required:
          - name
          - short
          - id
    GetAdvancementsYouthUseridLeadershippositionhistory200ResponseBody:
      type: array
      items:
        type: object
        properties:
          id:
            type: number
          positionId:
            type: number
          position:
            type: string
          positionImageUrl200:
            type: string
          startDate:
            type: string
          endDate:
            type: string
          denId:
            type: number
            nullable: true
          den:
            type: string
            nullable: true
          patrolId:
            type: number
          patrol:
            type: string
          unitId:
            type: number
          unitLong:
            type: string
          charterOrgName:
            type: string
          unit:
            type: string
          districtId:
            type: number
            nullable: true
          district:
            type: string
            nullable: true
          councilId:
            type: number
            nullable: true
          council:
            type: string
            nullable: true
          rankId:
            type: number
          rank:
            type: string
          image:
            type: string
          imageUrl50:
            type: string
          imageUrl100:
            type: string
          imageUrl200:
            type: string
          imageUrl400:
            type: string
          requestedDate:
            type: string
            nullable: true
          unitApproved:
            type: boolean
          approved:
            type: boolean
          approvalMessage:
            type: string
            nullable: true
          notes:
            type: string
          defaultPosition:
            type: boolean
          available:
            type: boolean
          listType:
            type: string
            nullable: true
          rosterPending:
            type: boolean
          dateInvited:
            type: string
            nullable: true
          personalMessage:
            type: string
            nullable: true
          bsaMemberId:
            type: string
          numberOfDaysInPosition:
            type: number
        required:
          - id
          - positionId
          - position
          - positionImageUrl200
          - startDate
          - endDate
          - denId
          - den
          - patrolId
          - patrol
          - unitId
          - unitLong
          - charterOrgName
          - unit
          - districtId
          - district
          - councilId
          - council
          - rankId
          - rank
          - image
          - imageUrl50
          - imageUrl100
          - imageUrl200
          - imageUrl400
          - requestedDate
          - unitApproved
          - approved
          - approvalMessage
          - notes
          - defaultPosition
          - available
          - listType
          - rosterPending
          - dateInvited
          - personalMessage
          - bsaMemberId
          - numberOfDaysInPosition
    GetAdvancementsRanksRankRequirements200ResponseBody:
      type: object
      properties:
        rankInformation:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
            short:
              type: string
            reallyShort:
              type: string
            level:
              type: string
            image:
              type: string
            programId:
              type: string
            searchKeywords:
              type: string
            lds:
              type: string
            sku:
              type: string
            price:
              type: string
            priceLastUpdated:
              type: string
            scoutNet:
              type: string
            header:
              type: string
            footer:
              type: string
            adminNotes:
              type: string
            proofReadDate:
              type: string
            active:
              type: string
            disabledOnQuickEntry:
              type: string
          required:
            - name
            - version
            - short
            - reallyShort
            - level
            - image
            - programId
            - searchKeywords
            - lds
            - sku
            - price
            - priceLastUpdated
            - scoutNet
            - header
            - footer
            - adminNotes
            - proofReadDate
            - active
            - disabledOnQuickEntry
        requirements:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              versionId:
                type: string
              name:
                type: string
              short:
                type: string
              listNumber:
                type: string
              requirementNumber:
                type: string
              sortOrder:
                type: string
              footer:
                type: string
              childrenRequired:
                type: string
              required:
                type: string
              parentRequirementId:
                type: string
              videoExternalURLId:
                type: string
              previousRankRequired:
                type: string
              monthsSinceLastRankRequired:
                type: string
              eagleMBRequired:
                type: string
              totalMBRequired:
                type: string
              serviceHoursRequired:
                type: string
              disabledOnQuickEntry:
                type: string
              linkedAdventureId:
                type: string
              linkedAwardId:
                type: string
            required:
              - id
              - versionId
              - name
              - short
              - listNumber
              - requirementNumber
              - sortOrder
              - footer
              - childrenRequired
              - required
              - parentRequirementId
              - videoExternalURLId
              - previousRankRequired
              - monthsSinceLastRankRequired
              - eagleMBRequired
              - totalMBRequired
              - serviceHoursRequired
              - disabledOnQuickEntry
              - linkedAdventureId
              - linkedAwardId
      required:
        - rankInformation
        - requirements
    AwardsResponse:
      type: object
      properties:
        awards:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              short:
                type: string
              category:
                type: string
              itemNumber:
                type: string
              rankId:
                type: string
              rank:
                type: string
              image:
                type: string
              imageSmall:
                type: string
              sku:
                type: string
              skuName:
                type: string
              price:
                type: string
              priceLastupdated:
                type: string
              adultAward:
                type: string
              adminNotes:
                type: string
              unitTypeId:
                type: string
              program:
                type: string
              unitType:
                type: string
              scoutNet:
                type: string
              showOnEvents:
                type: string
              showOnQuickEntry:
                type: string
              activeDate:
                type: string
              expiredDate:
                type: string
              imageUrl100:
                type: string
              imageUrl200:
                type: string
              imageUrl300:
                type: string
              imageUrl400:
                type: string
              versions:
                type: array
                items:
                  type: object
                  properties:
                    awardVersionId:
                      type: integer
                    version:
                      type: string
                    rankId:
                      type: integer
                      nullable: true
                    rank:
                      type: string
                      nullable: true
                    expiredDate:
                      type: string
                      nullable: true
                    versionEffectiveDt:
                      type: string
                    versionExpiryDt:
                      type: string
                      nullable: true
                    image:
                      type: string
                      nullable: true
            required:
              - id
              - name
              - short
      required:
        - awards
    AdventuresResponse:
      type: object
      properties:
        adventures:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              rankId:
                type: integer
              rank:
                type: string
              name:
                type: string
              nameShort:
                type: string
              skuName:
                type: string
              required:
                type: boolean
              expiryDt:
                type: string
                nullable: true
              sortOrder:
                type: integer
              image:
                type: string
                nullable: true
              sku:
                type: string
              price:
                type: number
              priceLastUpdated:
                type: string
              scoutNet:
                type: string
              bsaExternalUrlId:
                type: string
                nullable: true
              pageUrl:
                type: string
              searchKeywords:
                type: string
                nullable: true
              versionId:
                type: integer
              version:
                type: integer
              header:
                type: string
                nullable: true
              footer:
                type: string
                nullable: true
              adminNotes:
                type: string
                nullable: true
              imageUrl100:
                type: string
              imageUrl200:
                type: string
              imageUrl300:
                type: string
            required:
              - id
              - rankId
              - rank
              - name
              - required
              - versionId
              - version
      required:
        - adventures
    StatesResponse:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
          short:
            type: string
          id:
            type: string
        required:
          - name
          - short
          - id
    # ============================================
    # Commissioner Response Schemas
    # ============================================
    RoundtableResponse:
      type: object
      properties:
        organizationGuid:
          type: string
          format: uuid
        roundtables:
          type: array
          items:
            type: object
            properties:
              roundtableGuid:
                type: string
                format: uuid
              roundtableDate:
                type: string
                format: date
              createdDate:
                type: string
                format: date-time
    # ============================================
    # Organization Response Schemas
    # ============================================
    MembershipSummaryResponse:
      type: object
      properties:
        totalActiveAdults:
          type: integer
        totalActiveYouth:
          type: integer
    OlrSettingsResponse:
      type: object
      properties:
        onlineRegOptIn:
          type: boolean
        onboardingUrl:
          type: string
          nullable: true
        reassignAfter5DaysOptIn:
          type: boolean
        scoutExecEmailOptIn:
          type: boolean
        includeFeesOptIn:
          type: boolean
    TrainingSummaryResponse:
      type: object
      description: Organization training status summary
      properties:
        trainedLeadersCount:
          type: integer
          description: Number of position-trained leaders
        notTrainedLeadersCount:
          type: integer
          description: Number of leaders not position-trained
        yptCurrentCount:
          type: integer
          description: Number with current YPT
        yptExpiredCount:
          type: integer
          description: Number with expired YPT
        yptNeverTakenCount:
          type: integer
          description: Number who never took YPT
        yptCurrentCount14:
          type: integer
          description: YPT expiring in 14 days
        yptCurrentCount25:
          type: integer
          description: YPT expiring in 25 days
        yptCurrentCount60:
          type: integer
          description: YPT expiring in 60 days
        yptCurrentCount90:
          type: integer
          description: YPT expiring in 90 days
        yptCurrentCount90plus:
          type: integer
          description: YPT valid beyond 90 days
        lastDataRefreshDate:
          type: string
          format: date-time
          description: When training data was last refreshed
    PinResponse:
      type: object
      description: Unit PIN (Public Information Network) data including meeting location and unit details
      properties:
        pinInformation:
          type: object
          description: Meeting location and contact details
          properties:
            pinId:
              type: integer
            isPinActive:
              type: boolean
            isPinModeCouncil:
              type: boolean
            isFundRaisingUnit:
              type: boolean
              nullable: true
            unitAdditionalInformation:
              type: string
              nullable: true
            unitWebsite:
              type: string
            alternateUnitDescription:
              type: string
            unitAnnouncement:
              type: string
            meetingDay:
              type: string
              nullable: true
            meetingTime:
              type: string
              nullable: true
            meetingAddressLine1:
              type: string
            meetingAddressLine2:
              type: string
            meetingCity:
              type: string
            meetingState:
              type: string
            meetingZip:
              type: string
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
            isAcceptingOnlineRegistrations:
              type: boolean
            hasUnitFee:
              type: boolean
              nullable: true
            unitFee:
              type: number
              nullable: true
            unitFeeCurrency:
              type: string
              nullable: true
            unitFeeCoverage:
              type: string
              nullable: true
            showAlternateDescriptionOnPin:
              type: boolean
            showUnitAnnouncementOnPin:
              type: boolean
            showMeetingAddressOnPin:
              type: boolean
            showContactPersonOnPin:
              type: boolean
            showContactEmailOnPin:
              type: boolean
            showContactPhoneOnPin:
              type: boolean
            showCouncilEmailOnPin:
              type: boolean
            showCouncilPhoneOnPin:
              type: boolean
            showCouncilPictureOnPin:
              type: boolean
            showCouncilWebsiteOnPin:
              type: boolean
            lastModifiedBy:
              type: string
            lastModifiedDt:
              type: string
              format: date-time
            createdBy:
              type: string
            createdDt:
[...]
